.dijitFileInput {
	position:relative;
	height:1.3em;
}
.dijitFileInputReal {
	position:absolute;
	z-index:2;
	filter:alpha(opacity:0);
	opacity:0;
	cursor:pointer;     
}
.dijitFileInputRealBlind {
	right:0;
}

.dijitFileInputReal:hover { cursor:pointer; } 
.dijitFileInputButton,
.dijitFileInputText {
	border:1px solid #333;
	padding:2px 12px 2px 12px; 
	cursor:pointer;
}
.dijitFileInputButton {
	z-index:3;
	visibility:hidden;
}

.dijitFakeInput { 
  position:absolute; top:0; left:0; z-index:1; white-space: nowrap;
}
.dijitProgressOverlay {
	display:none;
	width:250px;
	height:1em;
	position:absolute;
	top:0; left:0;
	border:1px solid #333;
	background:#cad2de url('images/dijitProgressBarAnim.gif') repeat-x top left;
	padding:2px;	
}
.dijitProgressOverlay {
	border:1px solid #84a3d1;
	background-color:#cad2de;
}

.dijitFakeInput input {	
	padding: 0;
	background:#fff url("images/validationInputBg.png") repeat-x top left;
	border:1px solid #9b9b9b;
	line-height: normal;
	text-align: right;
	direction: rtl;
}
.dijitFileInputButton, 
.dijitFileInputText {
	border:1px solid #9b9b9b;
	padding:0px 12px 0px 12px; 
	background:#e9e9e9 url("images/buttonEnabled.png") repeat-x top;
}
