
// These are the class/styles used by various objects in GanttChart.  However, Firefox has problems deciphering class style when DIVs are embedded in other DIVs.

div .scrollLeft { 
  /*border: #c0c0c0 1px solid;*/ 
  height:100%;
  padding: 0px; 
  margin: 0px;
  overflow: hidden;
  background-color: transparent;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}
div .scrollLeftTop { 
  /*border: #c0c0c0 1px solid;*/
  border-bottom: #707070 2px solid; 
  padding: 0px; 
  margin: 0px;
  overflow: hidden;
  background: url(images/titleBarDark.png) #DDDDDD top repeat-x;
  color: #ffffff;
  text-shadow: 1px 1px #505050;
  font-weight: bold;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}
div .scrollRight { 
  padding: 0px; margin: 0px;
  overflow-x:hidden;
  overflow-y:hidden; 
  background-color: #dddddd;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}
div .scrollRightTop { 
	border-bottom: #707070 2px solid; 
  padding: 0px; margin: 0px;
  overflow:hidden ;
  background-color: #dddddd;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

.ganttDetail, .ganttExpandOpened, .ganttExpandClosed {
	height: 20px;
}
.ganttHeight {
  height: 20px;
}

.ganttLeftTitle, .ganttRightSubTitle, .gantHeightLeftTitle,
.ganttLeftTopLine, .ganttRightTitle {
  height: 20px;
}

.ganttLeftTopLine {
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  padding: 0px; margin: 0px;
  border-bottom: 1px solid #ffffff;
}

.ganttTable {
  padding: 0px; margin: 0px;
  height: 100%; width: 100%; overflow: hidden;
  text-align: left;
  font-weight: normal;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  vertical-align: top;
  /*z-index:5;*/
}

.ganttLeftTitle, .ganttRightTitle {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  background: url(images/titleBarDark.png) #DDDDDD top repeat-x;
  color: #ffffff;
  text-shadow: 1px 1px #505050;
  padding: 0px; margin: 0px;
  border-left: #efefef 1px solid;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}
.ganttRightTitle {
  border-bottom: 1px solid #ffffff;
}
* .ganttAlignLeft {
  text-align: left;
}
* .ganntNoLeftBorder {
  border-left:0px;
}

.ganttRightSubTitle {
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
  color: #000000;
  padding: 0px; margin: 0px;
  /*border-top: #D0D0D0 1px solid;*/
  border-left: #D0D0D0 1px solid;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}

.ganttTaskrow {
  padding: 0px; margin: 0px;
  background-color: #ffffff;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  /*z-index:50;*/
}
.selectedrow {
  padding: 0px; margin: 0px;
  background-color: #AAAAFF;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  /*z-index:50;*/
}


.ganttTaskrowBar {
   height: 13px; 
   /*cursor: pointer;*/
   opacity:0.9;
   filter: alpha(opacity=90);
   /*z-index:90;*/
}

.ganttTaskrowBarComplete { 
  background-color:#000000; 
  height:5px; 
  overflow: hidden; 
  margin-top:4px;
  opacity:0.4; 
  filter: alpha(opacity=40);
  position: absolute; top: 0px; left: 0px;
  z-index: 14; 
  /*z-index:100;*/
}
.ganttGrouprowBarComplete { 
  z-index: -4; 
  float:left; 
  background-color:#FFFFFF; 
  height:2px;
  overflow: hidden; 
  margin-top:2px; margin-left:1px; margin-right:1px;
  filter: alpha(opacity=70); opacity:0.7;
  /*z-index:100;*/
  /*cursor: pointer;*/
}


.ganttTaskgroup {
  padding: 0px; margin: 0px;
  font-weight: bold;
  background-color: #f3f3f3;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  border-color: #F6F6F6 #ACACAC #ACACAC #F6F6F6;
  background: #E8E8E8 ;
}

.ganttTaskgroupBar { 
  background-color:#505050; 
  text-align:center;
  height: 7px;
  /*cursor: pointer;*/
  opacity:0.9; 
}

.ganttTaskgroupBarExt { 
  z-index: -4; 
  background-color:#505050; 
  overflow: hidden; 
  width:1px
}
.ganttTaskgroupBarExtInvisible { 
  z-index: -4; 
  overflow: hidden; 
  width:1px
}

.ganttTaskgroupBarText { 
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  position:absolute; 
  top:-3px; 
  width:120px; 
}

.ganttTaskmile {
  padding: 0px; margin: 0px;
  font-weight: lighter;
  font-style:italic;
  background-color: #ffffff;
  font-family: Verdana, Arial, Tahoma, sans-serif;
}

.ganttName { 
  border-top: #c0c0c0 1px solid;
  font-size: 90%;      
  padding: 0px; margin: 0px;
  z-index: 0;
}
.ganttLeftHover {
	position: absolute;
	margin-top: -3px;
	left: 25px;
	height: 20px;
	background-color: #FFFFFF;
	opacity:0.1;
  filter: alpha(opacity=10);
	z-index: 998;
	cursor: pointer;
}

.hideLeftPartrow, .hideLeftPartmile {
  z-index: 999;
  display: inline-block;
  width: 100%;
  /*cursor: pointer;*/
  
}
.hideLeftPartgroup {
  z-index: 999;
  display: inline-block;
  width: 100%;
  /*cursor: pointer;*/
}
.namePartrow, .namePartmile {
  z-index: -999;
  display: inline-block;
  width: 99%;
  cursor: pointer;
}
.namePartgroup {
  z-index: -999;
  display: inline-block;
  width: 99%;
  cursor: pointer;
}

.handleCursor {
	cursor: move;
}
.ganttDetail {
  border-top: #c0c0c0 1px solid;
  font-size: 90%;  
  padding: 0px; margin: 0px;
  z-index: 10;   
  /*z-index: 15;*/
  text-align: center;
  overflow: hidden;
}

.ganttDetailNoborder {
  border-top: #c0c0c0 1px solid;
  font-size: 90%;  
  padding: 0px; margin: 0px;
  z-index: 10;   
  /*z-index: 15;*/
}
.ganttDetail, .ganttDetailBoderleft {
  border-left: #dddddd 1px solid;
}
.ganttDetailBoderleft, .ganttSubDetailNoborder  {
  font-size: 5%;  
  padding: 0px; margin: 0px;     
}
.ganttDetailNoborder {

}
.ganttExpandOpened {
  background-image: url(images/minus.gif);  background-repeat: no-repeat;
  cursor: pointer;
}
  
.ganttExpandClosed {
  background-image: url(images/plus.gif);  background-repeat: no-repeat;
  cursor: pointer;
}

.ganttNoExpand {
  background-image: url(images/none.gif);  background-repeat: no-repeat;
  cursor: default;
}

.ganttNoExpandMile {
  background-image: url(images/mile.gif);  background-repeat: no-repeat;
  cursor: default;
}

.ganttSep {
  width: 16px;
  font-size: 90%;
  font-weight: normal;
  font-style: normal; 
}
.ganttScale {
	width:100px;
	float:none;
	test-align: left;
}
.ganttScaleText {
  width:100px;
  font-size: 80%;
  float:none;
  position: relative;
  top: 0px;
  test-align: left;
  font-weight: normal;
}
	
.ganttUnselectable {
    user-select: none; 
    -o-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
}

.ganttDndLink {
	cursor: url('images/dndLink.png'),help;
}

.dayBackground {
	background-image: url(images/ganttDay.png);  
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	opacity:0.15;
  filter: alpha(opacity=15);
  border-top: #000000 1px solid;
  z-index:10;
  position:relative;
}
.weekBackground {
  background-image: url(images/ganttWeek.png);  
  background-repeat: repeat-x;
  opacity:0.15;
  filter: alpha(opacity=15);
  border-top: #000000 1px solid;
  z-index:10;
  position:relative;
}
.monthBackground {
  background-image: url(images/ganttMonth.png);  
  background-repeat: repeat-x;
  opacity:0.15;
  filter: alpha(opacity=15);
  border-top: #000000 1px solid;
  z-index:10;
  position:relative;
}
.quarterBackground {
  background-image: url(images/ganttQuarter.png);  
  background-repeat: repeat-x;
  opacity:0.15;
  filter: alpha(opacity=15);
  border-top: #000000 1px solid;
  z-index:10;
  position:relative;
}

.specificDayWeekEnd {
	opacity:0.5;
	filter: alpha(opacity=40);
	z-index:0; 
	background-color: #D0D0D0;
	position:absolute; 
}
.specificDayCurrent {
  opacity:0.4;
  filter: alpha(opacity=30);
  z-index:0; 
  background-color: #FFFF00;
  position:absolute; 
}
.rightTableLine {
  /*z-index: 8;*/
  /*opacity:0.9;
  filter: alpha(opacity=90);*/
  position:relative; 
  top:0px;
}

.barDivMilestone {
	z-index: 10;
	position:absolute; 
	top:-2px; 
	overflow:hidden;
}
.barDivGoup {
  z-index: 10;
  position:absolute; 
  top:5px;
}
.barDivTask {
  z-index: 10;
  position:absolute; 
  top:4px;
}
.labelBarDiv {
	/*z-index:10;*/
	font-size:9px; 
	position:absolute; 
	top:-5px; 
	width:120px; 
}