/* ============================================================================
 * Main css styles for Printing purpose.
 * ============================================================================
 */

/* Imports ==================================================================== */

/* Main structure objects ===================================================== */

html, body {
  height: 100%; width: 100%; 
  border: 0; margin: 0px; padding: 0px;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
}
html,  body,  #mainDiv,  #contentDiv,  #centerDiv,  #detailDiv,  .display {
  background-color: #FFFFFF; color: #000000;
}
/* Specific attributes on common nodes ======================================== */

table {
  border-collapse: collapse; border: 0px;
  /* border: 1px solid #FF0000; /* padding: 3px !important; margin: 3px !important; /* for debug purpose */
}

tr {
   /*border: 2px solid #0000FF;  padding: 3px !important; margin: 3px !important; /* for debug purpose */
}

.menuTree {
  font-weight: normal;
  color: #000;
  text-align: left;
  width: 400px;
  margin: 1px; padding: 0px; 
  border: 0px;
}

td {
  margin: 0; padding: 0; cellspacing: 0; cellpadding: 0;
  border: collapse; border: 0px;
  /* border: 1px solid #00FF00; /* padding: 3px !important; margin: 3px !important; /* for debug purpose */
}

th {
  border: 1px solid #555555;
  background-color: #DDDDDD; 
  margin: 2px; 
}

.tdListPrint {
  border: 1px solid #555555;
  background-color: #FFFFFF; 
  margin: 0px; padding: 1px 3px 1px 3px; 
}

a {
 text-decoration: none; 
}

label, .label {
  font-weight: normal;
  text-align: right; vertical-align: top;
  width: 135px;
  padding: 2px;
  float:left;
  border: 0px solid white;
  background-color: #FFFFFF; color: #55555;
  color: #808080;
}

/* Specific classes =========================================================== */

.input {
  font-weight: normal;
  color: #000;
  width: 400px;
  margin: 1px; padding: 0px;
  border: 1px solid #b3b3b3;
  line-height: normal;
}

.display {
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000;
  text-align: left;
  width: 400px;
  margin: 1px; padding: 0px; 
  border: 1px solid #FFFFFF;
}

.detail {
  width: 1px;
}

.tabLabel {
  font-weight: bold;
  text-align: center;
  border: none; padding: 0px; spacing: 0px;
  width: 80px;
  background-color: #FFFFFF;
  color: #505050;
}

.colorSelector {
  background-image: url(images/colorSelector.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.colorDisplay {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.colorHealth {
  width:10px; 
  height:10px; 
  margin:1px;padding:0;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #AAAAAA;
}

.checkBox {
  background-image: url(images/checkmark.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0px;
  margin: 0 2px 0 0;
  padding: 0;
}

.filterField {
  color: #555555;
}

.crossTable {
  border: 0px solid black;
}
.crossTableHeader {
 border: 0px solid blue;
 witdh: 100px;
 text-align: center;
}
.crossTableLine {
  border: 0px solid red;
  text-align: right;
  height: 30px;
}
.crossTablePivot {
  border: 0px solid green;
  text-align: center;
}

.section {
  text-align: center;
  font-weight: bold;
  width: 100%;
  background: url(images/titleBarDark.png) #909090 top repeat-x !important;  
  margin-bottom: 5px;
}

.historyHeader, .noteHeader, .attachementHeader, .messageHeader, .linkHeader, .assignHeader, 
.dependencyHeader, .workflowHeader, .filterHeader, .calendarHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: 400;
  text-shadow: 1px 1px #FFFFFF;
  background: url(images/titleBar.png) #DDDDDD top repeat-x !important;
  color: #505050;
}
.workflowHeader {
  font-size: 90%;
}
.largeReportHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
}
.largeReportData {
  border: 1px solid #AAAAAA;
  font-weight: normal;
  background: #FFFFFF;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
  vertical-align: top;
}
.largeReportDataDone {
  border: 1px solid #AAAAAA;
  font-weight: normal;
  background: #E0E0E0;
  color: #505050;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
  vertical-align: top;
}
.reportHeader {
  border: 0px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
}
.reportTableHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  padding: 3px 5px 3px 5px;
  background: url(images/titleBarDark.png) #909090 top repeat-x;
  color: #FFFFFF;
  text-shadow: 1px 1px #505050;
}
.reportTableColumnHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  padding: 1px 3px 1px 3px;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
}
.reportTableLineHeader {
  border: 1px solid #AAAAAA;
  padding: 0px 3px 0px 3px;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
}
.reportTableData {
  border: 1px solid #AAAAAA;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  padding: 0px 1px 0px 1px;
  background: #FFFFFF;
}
.reportTableDataBorderRight {
  border-right: 1px solid #AAAAAA;
}
  
.reportTableDataLeft {
  border: 1px solid #AAAAAA;
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  padding: 0px 1px 0px 1px;
  background: #FFFFFF;
}

.reportTableDataFull {
  border: 1px solid #AAAAAA;
  text-align: left;
  vertival-align: middle;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  background: #FFFFFF;
  width: 20px; height: 20px;
}

.reportTableDataSimple {
  border: 1px solid #AAAAAA;
  vertical-align: middle;
  padding: 0px 1px 0px 1px;
}
.historyData, .noteData, .attachementData, .messageData, .messageDataValue, .linkData, .assignData, 
.dependencyData, .workflowData, .filterData, .messageDataValueGrey {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  border: 1px solid #AAAAAA;
  vertical-align: top;
  background-color: #FFFFFF;
}
/* =============================================================================== */
/* COMMON                                                                          */
/* =============================================================================== */

.dijitTitlePane .dijitTitlePaneTitle, .section {
  /* background: url(images/titleBar.png) #dedede top repeat-x !important; */
  background: url(images/titleBarDark.png) #909090 top repeat-x !important;
  border-top: 1px solid #A0A0A0;
  border-left: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0; 
  border-right: 1px solid #A0A0A0;
  /*-moz-border-radius: 7px;
  border-radius: 7px;*/
  color: #FEFEFE !important;
  font-weight: 600 !important;
  text-shadow: 1px 1px #606060;
}
.dijitTitlePane .dijitTitlePaneTitle {
  background: url(images/titleBarDark.png) #909090 top repeat-x !important;
}
.section {
	background: url(images/titleBarDark.png) #909090 top repeat-x !important;
	margin: 5px !important; 
}	